
<div class="bg-light p-5 rounded mt-3">
    <h1>Cadastrar</h1>
    <form>
      <div class="row mt-4">
        <div class="col-md-5 mb-3"> 

          <label for="nome" class="form-label">Nome Completo</label>
          <input type="text" class="form-control" id="nome" placeholder="digite seu nome completo">

        </div>
        <div class="col-md-5 mb-3">

          <label for="email" class="form-label">Endereço de e-mail</label>
           <input type="email" class="form-control" id="email" name="email" placeholder="digite seu e-mail">
          
        </div>
        <div class="col-md-2">

          <div class="btn btn-success w-100 mt-4 p-3 ">Cadastrar</div>
          
        </div>
      </div>
    </form>
  </div>