



<div class="p-5 rounded mt-3">
    <h1>Listar usuários</h1>
     <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <div class="row g-1">
          <div class="col-6 col-md-3">
            <a href="#" class="btn btn-info w-100 text-white">Editar</a>
          </div>
          <div class="col-6 col-md-3">

            <a href="#" class="btn btn-danger w-100">Deletar</a>


          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
  </div>